




/*EYEGALAW UI*/
body{
    height: 100%;
    width: 100%;
    float: left;
}
.main_frame{
    top: 0%;
    left: 0%;
     height: 100%;
    width: 100%;
    position:fixed;
  z-index: 1000 !important;


    /*background-color:pink;   */
}
/*#myDivId{
    position:fixed;
    top:50%;
left:50%;
width:100%;   
height:100%;
background-color:red;
}
*/

/*box arrows*/
/*#arrow_down{
  top: 0;
  left: 0;
right: 0;
border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 50px solid;
}*/

#line_arrow_up{
  top: 0;
  left: 0;
right: 0;
/*border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 50px solid black;*/
   /*-webkit-transform: rotate(135deg);
  transform: rotate(135deg);*/
}
/*#prev_page{
  top: 15;
  left: 0;
border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 50px solid black;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}*/

/*#arrow_up{
  bottom: 0;
  left: 0;
right: 0;
border-left: 50px solid transparent;
  border-right: 50px solid transparent;  
  border-top: 50px solid;
}*/


#line_arrow_down{
  bottom: 15;
  left: 0;
right: 0;
/*border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-top: 50px solid black;*/

  /**/
 
}
#hide_div{
  /* top: 0;
  left: 0;
*/
    right: 0;
  bottom: 0;
  margin-right: 50px; 
/*right: 0;*/
 }
#hold_div{
    bottom: 0;
  left: 0;
/*right: 0;*/
  padding-right: 10px;
 
}


.scrll_TB{
  width: 110px;
  height: 50px;
   display: block; /*center*/
  margin: 0 auto; /*center*/
position:fixed;


  font-size: 24px;
  line-height: 90%;
font-style: normal;
/*font-weight: bold;*/
text-decoration: none;
text-transform: none;
text-align: center;
color: #000000;

/*background-color: #ffffff;*/
 }
 #scrll_top{
    top: 0;
  right: 0;
}
#scrll_bottom{
    right: 0;
  bottom: 0;
  padding-right: 10px; 
}
.hidehold_div{
  width: 50px;
  height: 50px;
  /*margin: auto;*/
/*background-color: re d;*/
position:fixed;
/*z-index: 1000 !important;*/

}
.hidehold_txt{
  display: block; /*center*/
  /*margin: 0 auto; /*center*/
position:fixed;


  font-size: 36px;
font-style: normal;
/*font-weight: bold;*/
text-decoration: none;
text-transform: none;
color: #000000;
/*background-color: #ffffff;*/
  
}
.arrows{
/*width:0;   
height:0;*/
margin: auto;

position:fixed;
/*background-color:red;*/
z-index: 1000 !important;
}

.line_arrows{
/*width:0;   
height:0;*/
margin: 0 auto;

position:fixed;
/*background-color:red;*/
z-index: 1000000 !important;


/**/
 /* border: 1px solid #000;
  border-width: 0 0 2px 2px;
  width: 50px;
  height: 50px;
  line-height: 0;
  font-size: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);*/
    
}


/*#prev_page{
  top: 0;
  left: 0;*/
  /*right: 0;*/
/*border-right: 50px solid black;
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent;*/
/*}*/


#gaze_up{
  top: 0;
  left: 0;
right: 0;
}
#gaze_down{
  bottom: 0;
  left: 0;
  right: 0;
}


.gaze_pads{
  /*width: 100px;*/
  width: 100%;
  height: 50px;
  margin-left: 150px;
  /*background-color:red;*/
  position:fixed;
}




/*loader*/
.loader { 
  position: fixed; 
   
  left: 0; 
  top: 0;
    width: 100%; 
    height: 100%; 
  overflow: visible; 
  background: rgba(51,51,51, 0.8) url('chrome-extension://ilgdhcbhjnidiblajhalcalmcacdbgef/src/img/load.gif') no-repeat center center; 
  /*background-size: 100% 100%;*/

   /* z-index: 999; 
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;*/
}

/*@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/




/*pop-up*/






/*triangle oops*/

/*.container {
    width: 200px;
    height: 200px;
    position: relative;
    border-top: 4px solid #e74c3c;
}*/

.triangle {
    position: fixed;
    margin: auto;
    /*top: 0;*/
    width: 50px;
    height: 50px;
    border-right: 4px solid #e74c3c;
    border-bottom: 4px solid #e74c3c;
    
}
#triangle_down {
    
    top: 0;
    left: 0;
    right: 0;
    margin-top:20px;
    
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#triangle_up {
    margin-bottom:20px;
    
   bottom: 0;
  left: 0;
  right: 0;
    
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    
}
#prev_page {
    /*margin-bottom:20px;*/
    
   top: 50%;
  left: 10;
  margin-left: 10px;
    
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); 
     -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    
}

#frwd_page{
    /*margin-bottom:20px;*/
    
   top: 50%;
  right: 0;
  margin-right: 10px;
    
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg); 
     -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    
}


