/* gaze-controls.css (controls.css kay chris) */

/*** MAIN PAGE ***/

.t_inject_container {
	position:fixed;
	bottom:0px;
	left:0px;
	z-index: 999;
	background-color:grey;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
}

.menu {
	background-color:lightblue;
	border-radius:5px;
}

.t_intect_button {
	background-color:blue;
	display:block;
	height: 50px;
	width: 50px;
	margin: 5px;
	font-size: 20px;
	color: white;
	border: 0px;
	border-radius:7px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box; 
	border-radius:5px;
}

.minimize_button {
	height: 20px;
	width: 20px;
	margin: 2px;
	font-size: 12px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box; 
	border-radius:5px;
}

/*** TIMELINE ELEMENT ***/

.timeline_element {
	background-color:red;
	border-radius:5px;
}

.t_text_area {
	height: 50px;
	width: 100px;
}


body {
	height: 100%;
	width: 100%;
}

/*** GAZE UI BUTTONS ***/

/* ARROW BOXES */
/* reference: https://css-tricks.com/snippets/css/css-triangle/ */

#arrow_up {
	top: 0;
	left: 0;
	right: 0;
	margin-top: 60px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid black;
}

#arrow_down {
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 15px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid black;
}

#arrow_left {
	top: 0;
	left: 0;
	bottom: 0;
	margin-left: 50px;
	border-right: 50px solid black;
	border-top: 50px solid transparent; 
	border-bottom: 50px solid transparent;
}

#arrow_right {
	top: 0;
	bottom: 0;
	right: 0;
	margin-right: 50px;
	border-left: 50px solid black;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

/* ARROWS */

.arrows {
	width:0;   
	height:0;
	margin: auto;
	position:fixed;
	/*background-color:red;*/
}

/* BUTTONS */

#click_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 160px;
	border: 30px solid transparent;
	background-color:green;
}

#focus_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 270px;
	border: 30px solid transparent;
	background-color:pink;
}

#press_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 380px;
	border: 30px solid transparent;
	background-color:blue;
}

#open_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 490px;
	border: 30px solid transparent;
	background-color:black;
} 

.gaze_btns {
	width: 30px;   
	height: 30px;
	margin-bottom: 10px;
	position:fixed;
}



/* HIGHLIGHT ELEMENTS FOR CLICK, PRESS, FOCUS, & OPEN */

.selectLinks {
	color: white!important;
	background: violet!important;
} 

.selectBtns {
	color: white!important;
	background: orange!important;
} 

.selectInputs {
	color: white!important;
	background: black!important;
}







#arrow_up_box {
	top: 0;
	left: 0;
	right: 0;
	margin-top: 50px;
	border: 5px solid red;
}

#arrow_down_box {
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 5px;
	border: 5px solid red;
	height: 10%;
}

.horizontal_box {
	width: 60%;   
	height: 20%;
	margin: auto;
	position:fixed;
	z-index: -1000;
	opacity: 0;
}

#arrow_left_box {
	top: 0;
	left: 0;
	bottom: 0;
	margin-left: 40px;
	border: 5px solid red;
}

#arrow_right_box {
	top: 0;
	bottom: 0;
	right: 0;
	margin-right: 40px;
	border: 5px solid red;
}

.vertical_box {
	width: 14%;   
	height: 75%;
	margin: auto;
	position:fixed;
	z-index: -1000;
	opacity: 0;
}

#toggle_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 10px;
	margin-right: 10px;
	background-color:orange;
	width: 90px;   
	height: 90px;
	position:fixed;
	/*z-index: 1000;*/
}

#toggle_btn_box {
	bottom: 0;
	right: 0;
	left: 0;
	margin-bottom: 8%;
	margin-left: 35%;
	width: 30%;   
	height: 30%;
	position:fixed;
	border: 5px solid red;
	z-index: -1000;
	opacity: 0;
}

/*bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 15px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid black;*/


	/* CALIBRATION POINT POSITION */

.calibration_btn {
	border-radius: 50%;
	background-color: red;
	border: 1px solid black;
	opacity: 0.2;
	position: fixed;
}