/* gaze-controls.css (controls.css kay chris) */

/*** MAIN PAGE ***/

.t_inject_container {
	position:fixed;
	bottom:0px;
	left:0px;
	z-index: 999;
	background-color:grey;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
}

.menu {
	background-color:lightblue;
	border-radius:5px;
}

.t_intect_button {
	background-color:blue;
	display:block;
	height: 50px;
	width: 50px;
	margin: 5px;
	font-size: 20px;
	color: white;
	border: 0px;
	border-radius:7px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box; 
	border-radius:5px;
}

.minimize_button {
	height: 20px;
	width: 20px;
	margin: 2px;
	font-size: 12px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box; 
	border-radius:5px;
}

/*** TIMELINE ELEMENT ***/

.timeline_element {
	background-color:red;
	border-radius:5px;
}

.t_text_area {
	height: 50px;
	width: 100px;
}


body {
	height: 100%;
	width: 100%;
}

/*** GAZE UI BUTTONS ***/

/* ARROW BOXES */
/* reference: https://css-tricks.com/snippets/css/css-triangle/ */

#arrow_up {
	top: 0;
	left: 0;
	right: 0;
	margin-top: 10px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid black;
}

#arrow_down {
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 10px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid black;
}

#arrow_left {
	top: 0;
	left: 0;
	bottom: 0;
	margin-left: 10px;
	border-right: 50px solid black;
	border-top: 50px solid transparent; 
	border-bottom: 50px solid transparent;
}

#arrow_right {
	top: 0;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	border-left: 50px solid black;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

/* ARROWS */

.arrows {
	width:0;   
	height:0;
	margin: auto;
	position:fixed;
	/*background-color:red;*/
}

/* BUTTONS */

#click_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 160px;
	border: 30px solid transparent;
	background-color:green;
}

#focus_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 270px;
	border: 30px solid transparent;
	background-color:pink;
}

#press_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 380px;
	border: 30px solid transparent;
	background-color:blue;
}

#open_btn {
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 490px;
	border: 30px solid transparent;
	background-color:black;
} 

.gaze_btns {
	width: 30px;   
	height: 30px;
	margin-bottom: 10px;
	position:fixed;
}




/* FOR BRANCH gazeButtons2 */

.center_btns {
	bottom: 0;
	left: 0;
	right: 0;
	width: 50px;
	height: 0;
	margin-bottom: 120px;
	position:fixed;
}

#click_center {
	margin-left: 171px;
	border: 10px solid green;
}

#focus_center {
	margin-left: 281px;
	border: 10px solid pink;
}

#press_center {
	margin-left: 391px;
	border: 10px solid blue;
}

#open_center {
	margin-left: 501px;
	border: 10px solid black;
}

.selected {
	background-color: yellow!important;
}

/* END */





/* CALIBRATION POINT POSITION 

#Pt1 {
	top: 70px;
	left:340px;
}

#Pt2 {
	top: 70px;
	left:50vw;
	margin-left: 340;
}

#Pt3 {
	top: 70px;
	right:2vw;
}

#Pt4 {
	top:50vh;
	left:2vw;
}

#Pt5 {
	top: 50vh;
	left: 50vw;
}

#Pt6 {
	top: 50vh;
	right:2vw;
}

#Pt7 {
	bottom:2vw;
	left: 2vw;
}

#Pt8 {
	bottom:2vw;
	left:50vw;
}

#Pt9 {
	bottom:2vw;
	right:2vw;
}

/* HIGHLIGHT ELEMENTS FOR CLICK, PRESS, FOCUS, & OPEN */

.selectLinks {
	color: white!important;
	background: violet!important;
} 

.selectBtns {
	color: white!important;
	background: orange!important;
} 

.selectInputs {
	color: white!important;
	background: black!important;
}