
body {
  margin:0px !important;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  /*background:rgba(167, 239, 220,0.8);*/
  background: #ffffff;

}


/*legit css making*/
#curve-div{

width:230px;
height:170px;
  -webkit-border-radius: 0px 0px 100px 100px;
  border-radius: 0px 0px  100px 50%/40px;
  background:rgba(107,214,185,0.8);
}

.padding{
  padding-bottom: 100px;
}

#main {
  width: 230px;
  height: 0px;
  border-radius: 5px;
  /*background:rgba(167, 239, 220,0.8);*/
  padding: 0px;
  margin:0px !important;

}
img#eyeGalaw-icon{
	width:230px;
  height: 90px;
  margin-left: -2px;
  /*margin-top: 50px;*/
  margin-bottom: 10px;
  padding-top: 45px;
  /*margin: 5px auto;*/
  display: block;
  cursor:pointer;

}

.center{
  display: block;
  margin: 0 auto;
}


.myButton {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 42px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  margin-left: 50px;
  text-align: center;
  margin-top: 10px;

}
.myButton:hover {
  background-color:#eb675e;
}
.myButton:active {
  position:relative;
  top:1px;
}



.ghost-button {
  display: block; /*center*/
  margin: 0 auto; /*center*/
  width: 200px;
  padding: 8px;
  /*color: #fff;*/
    color: #868d99;

  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}



/*options*/

.ghost-button .options {
    position: relative;
     display: block; /*center*/
  margin: 0 auto; /*center*/
    top: 0;
    /*background-color: lightblue;*/
    z-index: 10;
    cursor:pointer;
}
#options{
    margin-top: 10px;

}
.flat-slider{
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;

  
}
.dropdown span.label{

  color: #616366;
  font-size: 90%;  

}
.dropdown span.slider-value{
  display: inline-block;
  color: #616366;
  font-size: 80%;  
  float: right;
  margin-top: -20px;
}
/*slider-value*/

.dropdown{
  /*display: block;*/
  position: relative;  
    /*top: 200;*/
    /*background-color: pink;*/
    z-index: 1;
    -webkit-transition: top 1s ;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s ;
  width: 160px;
  height: 180px;
}

/*toggle*/
#effect {
    position: relative;
    width: 150px;
    height: 180px;
    padding: 0.4em;
  }


/**/
.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;
}


a.help {
    color:#fff;
    background-color:#feb22a;
    width:12px;
    height:12px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.tooltip {
  display:none;
  position:absolute;
  left:50;
  border:1px solid #333;
  background-color:#161616;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-size:10px;
  z-index: 10;

}

/**/
#eyeGalaw_about{
  top: 20px;
  color: #616366;
  font-size: 80%;  
  letter-spacing:10px;
  text-align: center;
  /*margin: 0 auto;*/
  cursor:pointer;
}