body{
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
     
}

/*cose buttn*/
.close {
  position: absolute;
  right: 32px;
  top: 37px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
    z-index: 100;

}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


#popup1 {
  position: fixed;
  /*background-size: cover;*/
  /*width: 100%;*/
  /*height: 100%;*/

  top: 0;
  bottom: 0;
  /*left: 0;
  right: 0;*/
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  background-size: cover;
  /*opacity: .5;*/
  z-index: 1;

}


.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    padding-top: 26px;
    z-index: 3;
    margin: 10px;
/*background-size: cover;*/
}

/*.carousel {
    position: relative;
    top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 

    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    padding-top: 26px;
background: rgba(0, 0, 0, 0.7);
background-size: cover;
z-index: 3px;
}*/


.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
   /*width: 100%;*/

    /*height: 530px;*/
/*     background: blue; */
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}


.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

#item1{
  background: #ffeac9;

  /*width: 100%;*/
  /*height: 100%;*/
    height: 540px;

    z-index: 3;

}
#item2{
  background: #ffeac9;
  /*width: 100%;*/
    height: 540px;
  /*height: 100%;*/
    z-index: 3;



}
#item3{
  background: #ffeac9;
  /*width: 100%;*/
    height: 540px;
  /*height: 100%;*/
    z-index: 3;



}





/* eye css */
.surface {
   /*margin: 0 auto ;*/
   /*padding-top: 100px;*/
  margin-left: 40%;
  /*width: 70%;
  height: 70%;*/
/*       text-align: center; */

}

[id^="hover"] {
  position: absolute;
  height: 100px;
  width: 200px;
  z-index: 1;
}

#hover_one:hover ~   #eye #iris {
  margin-left: 20px;
  margin-top: 20px;
}

#hover_two {
  margin-top: 100px;
}

#hover_two:hover ~   #eye #iris {
  margin-left: 20px;
  margin-top: 30px;
}

#hover_three {
  margin-top: 200px;
}

#hover_three:hover ~   #eye #iris {
  margin-left: 20px;
  margin-top: 40px;
}

#hover_four {
  margin-top: 300px;
}

#hover_four:hover ~   #eye #iris {
  margin-left: 20px;
  margin-top: 50px;
}

#hover_five {
  margin-left: 200px;
}

#hover_five:hover ~   #eye #iris {
  margin-left: 27.5px;
  margin-top: 20px;
}

#hover_six {
  margin-left: 200px;
  margin-top: 100px;
}

#hover_six:hover ~   #eye #iris {
  margin-left: 27.5px;
  margin-top: 30px;
}

#hover_seven {
  margin-left: 200px;
  margin-top: 200px;
}

#hover_seven:hover ~   #eye #iris {
  margin-left: 27.5px;
  margin-top: 40px;
}

#hover_eight {
  margin-left: 200px;
  margin-top: 300px;
}

#hover_eight:hover ~   #eye #iris {
  margin-left: 27.5px;
  margin-top: 50px;
}

#hover_nine {
  margin-left: 400px;
}

#hover_nine:hover ~   #eye #iris {
  margin-left: 37.5px;
  margin-top: 20px;
}

#hover_ten {
  margin-left: 400px;
  margin-top: 100px;
}

#hover_ten:hover ~   #eye #iris {
  margin-left: 37.5px;
  margin-top: 30px;
}

#hover_eleven {
  margin-left: 400px;
  margin-top: 200px;
}

#hover_eleven:hover ~   #eye #iris {
  margin-left: 37.5px;
  margin-top: 40px;
}

#hover_twelve {
  margin-left: 400px;
  margin-top: 300px;
}

#hover_twelve:hover ~   #eye #iris {
  margin-left: 37.5px;
  margin-top: 50px;
}

#hover_thirteen {
  margin-left: 600px;
}

#hover_thirteen:hover ~   #eye #iris {
  margin-left: 45px;
  margin-top: 20px;
}

#hover_fourteen {
  margin-left: 600px;
  margin-top: 100px;
}

#hover_fourteen:hover ~   #eye #iris {
  margin-left: 45px;
  margin-top: 30px;
}

#hover_fifteen {
  margin-left: 600px;
  margin-top: 200px;
}

#hover_fifteen:hover ~   #eye #iris {
  margin-left: 45px;
  margin-top: 40px;
}

#hover_sixteen {
  margin-left: 600px;
  margin-top: 300px;
}

#hover_sixteen:hover ~   #eye #iris {
  margin-left: 45px;
  margin-top: 50px;
}

{
  position: absolute;
  height: 290px;
  width: 280px;
  border-radius: 50%;
  background-color: #90e0fb;
  margin-top: 60px;
  margin-left: 16%;
  z-index: 0;
}

#eye {
  position: absolute;
  margin-top: 60px;
  margin-left: 90px;
}

#eyewhite {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;
}

#eyewhite:before {
  position: absolute;
  display: block;
  content: '';
  width: 110px;
  height: 110px;
  top: -10px;
  left: -5px;
  -webkit-border-radius: 150px 150px 0 0; -moz-border-radius: 150px 150px 0 0; border-radius: 150px 150px 0 0;
  border-top: 3px solid #9AE6FE;
}

#eyewhite:after {
  position: absolute;
  content: '';
  width: 110px;
  height: 110px;
  top:-2px;
  left: -5px;
  -webkit-border-radius: 0 0 150px 150px; -moz-border-radius: 0 0 150px 150px; border-radius: 0 0 150px 150px;
  border-bottom: 3px solid #8EDDF7;
}

#iris {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 48%;
  background-color: #000000;
  margin-top: 34px;
  margin-left: 34px;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  transition: 0.1s linear;
}

#shine {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 5px;
}

#credit {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  color: #939393;
  margin-top: 390px;
  left: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: #939393;
}

a:focus,
a:hover {
  color: #90e0fb;
}

#first-eye{
  /*top:300;*/

  bottom: 0;
}

#second-eye{
  top:0;
  bottom: 0;

  margin-left: 48%;
}


/*  text*/
.texts{
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100px;
    text-align: center;

  color: rgba(255, 255, 255, 255);
/* background-color: #dadada; */
/* text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px; */
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

/*text ids*/
#hithere h1{
  /*margin-top: 100px;*/

}
#eyeGalawText{
  /*margin-top: */
}


/*page3*/
.texts-h3{
  padding-top: 10px;
  /*margin-bottom: 20px;*/
  padding-bottom: 10px;
   font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 50px;
    text-align: center;

  color: rgba(255, 255, 255, 255);
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.ul-list{
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 36px;

  color:rgb(214, 51, 108);

text-shadow: #2e2e2e 0 1px 2px;

}
#list-remem{
  margin: 0 auto;
  width: 500px;
    border:3px solid rgba(214, 51, 108, 0.2);
  padding: 15px;
  /*padding-bottom: 15px;*/
  line-height: 200%;
  margin-bottom: 30px;

}

#demovid{
  position: relative;
  width: 600px;
  height: 400px;
  margin-top: -50px;
  margin-left: 30%;
  z-index: 1000;
  /*left: 50%;*/
}


/*#demovid{
  position: relative;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  margin-left: 200px;
  z-index: 100;
  /*left: 50%;
}
*/